/* body{
    background-color: cadetblue;
}

h1 {
    padding: auto;
    text-align: center;
}

.grafico1{
    width: 600px;
    height: 600px;
}

.grafico2{
    width: 600px;
    height: 600px;
}

.grafico3{
    width: 600px;
    height: 600px;
}
.grafico4{
    width: 600px;
    height: 600px;
}
.grafico5{
    width: 600px;
    height: 600px;
}
.grafico6{
    width: 600px;
    height: 600px;
} */