h1{
    font-size: 12rem;
    color: white;
    font-style: georgia; 
}
h2{
    font-size: 8rem;
    color:black;
    font-style: georgia; 
}

.header {
    background-color: #04253A;
 
}

.logo {
    max-width: 500px;
    height: 200px;
    
}

.formulario{
    background-color:#E1DDBF;
}

.graficos {
    background-color: #67948F;
}

.grafico{
    background-color: aliceblue;
    width: 600px;
   
}

.indicadorest {
    background-color:#04253A;
    color: white;
    text-align: center;
}
.indicadores {
    background-color: aliceblue;

}

.footer {

    background-color:#04253A;

}

@media screen and (max-width:1500px){
    
    .logo {
        width: 100%;
        
    }
    .indicadores{
        display: flex;
        flex-direction: column;
    }

    .graficos {
        display: flex;
        flex-direction: column;
        margin: none;
     }

    }

@media screen and (max-width:800px){
     .grafico {
        width: 500px;
     }
    }