h1{
    font-size: 12rem;
    color: white;
    font-style: georgia; 
}
h2{
    font-size: 8rem;
    color:black;
    font-style: georgia; 
    text-align: center;
}

.header {
    background-color: #04253A;
 
}

.logo {
    max-width: 500px;
    height: 200px;
    
}

.formulario{
    background-color:#E1DDBF;
}

.graficos {
    background-color: #67948F;
}

.grafico{
    background-color: aliceblue;
    width: 600px;
   
}

/* .indicadorest {
    background-color:#04253A;
    color: white;
    text-align: center;
} */
.indicadores {
    background-color: aliceblue;

}
.indicador{
    font-size:xx-small;
    background-color: #04253A;
    color: white;
    margin: 12px;
    height: 50px;
    
}

.footer {

    background-color:#04253A;

}
.imagen{
    height: 800px;
    margin-top: 250px;
}

@media screen and (max-width:1500px){
    
    .logo {
        width: 100%;
        height: 50px;
    }
    .indicadores{
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
    }
    .imagen{
        height: 700px;
    }

    .graficos {
        display: flex;
        flex-direction: column; 
        margin: none;
        /* width: 500px; */
     }

    }
 @media screen and (max-width:1000px){

    .imagen {
        width: 100;
    }

    } 

@media screen and (max-width:768px){
    
    .imagen{
        display: none;
    }
     .grafico {
        width: 500px;
     }
     #selectAnio{
        margin-bottom: 30px;
     }
    }

@media screen and (max-width:600px){
    .grafico {
        width: 350px;
        }
        .imagen{
            display: none;
        }
       }

@media screen and (max-width:400px){
    h1 {
        font-size:small !important;
    }
    .imagen{
        display: none;
    }
    .grafico{
        width: 300px;
    }
       }
